
.top-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.user-status {
  width: 30%;
  box-sizing: border-box;
}

.up-to-date {
  width: 40%;
  box-sizing: border-box;
}

.empty {
  width: 30%;
  box-sizing: border-box;
}

/*  ------------------------------------------------------------------------------------------------------ */

.article-title {
  height: 70px;
  border: 1px solid #008B8B;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  box-shadow: 1px 1px #008B8B;
  display: flex;
  justify-content: center;
  letter-spacing: 20px;
  color: white;
  background: #008b8b;
}

.new-article {
  border: 1px solid #008B8B;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  box-shadow: 1px 1px #008B8B;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.new-article img {
  margin: 10px;
  height: 150px;
  width: 150px;
}

.article-content {
  margin: 10px;
}
// --------------------------------------------------------------------------------------------------------

.user-status {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.login-user {
  width: 80%;
  height: 400px;
  border: 1px solid #008b8b;
  border-radius: 5px;
  box-shadow: 1px 1px #008b8b;
  color: #008b8b;
}

.user-information {
  color: #008b8b;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.user-information img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #008b8b;
  margin: 10px;
  background: #008b8b;
}

.user-information p {
  color: #008b8b;
  font-size: 32px;
}

.login-btn {
  text-decoration: none;
  color: #008b8b;
  padding: 10px 15px;
  border: 1px solid #008b8b;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 1px 1px #008b8b;
}

.login-btn:hover {
  color: #ff6040;
}

.user-function {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.non-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----------------------------------------------------------------------------------------------------------

.user-link {
  height: 70px;
  line-height: 60px;
  border: 1px solid #008b8b;
  box-shadow: 1px 1px #008b8b;
  border-radius: 5px;
  padding: 10px 15px;
  color: #008b8b;
  text-decoration: none;
  margin-left: 10px;
}

.user-link:hover {
    color: #ff6040;
}
